<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('./head.ejs')%>
    </head>

    <body>
    <div>
        
        <div class="row">
            <div class="col-sm-12">
                <%-include('./share/navbar')%>
            </div>
        </div>
            <div class="row">
            <div class="col-sm-3">sidebar</div>
            <div class="col-sm-9">contents</div>
        </div>
    </body>
</html>