<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('./head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/hansol.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>

<body>
    <form action="/action_page.php" style="max-width:700px;margin:auto">
        <div class="input-group mb-1" style="max-width:700px;margin:auto;display: flex;justify-content: center;">
            <img class="profile_img" src="images/avatar.png" style="width:200px">
        </div>
        <div class="input-group mb-3" style="max-width:700px;margin:auto">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="bi bi-person"></i></span>
            <input type="text" class="form-control" placeholder="이름" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

        <div class="input-container">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="bi bi-check2-circle"></i></span>
            <select class="form-select" aria-label="Default select example">
            <option selected>성별</option>
            <option value="1">남성</option>
            <option value="2">여성</option>
            </select>
        </div>

        <div class="input-group mb-3" style="max-width:700px;margin:auto">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="bi bi-phone"></i></span>
            <input type="text" class="form-control" placeholder="핸드폰" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
        
        <div class="input-container">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="bi bi-envelope"></i></span>
            <input type="text" class="form-control" placeholder="email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            <select class="form-select" aria-label="Default select example">
            <option selected>naver.com</option>
            <option value="1">daum.net</option>
            <option value="2">kokoao.com</option>
            </select>
        </div>
        
        <div class="box">
            <div id="tab">
              <ul>
                <li>
                    <div class="card">
                        <img src="images/avatar.png" style="width:100%">
                        <div class="container">
                            <h4><b>John Doe</b></h4> 
                            <p>Architect & Engineer</p> 
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <img src="images/avatar.png" style="width:100%">
                        <div class="container">
                            <h4><b>John Doe</b></h4> 
                            <p>Architect & Engineer</p> 
                        </div>
                    </div>
                </li>
              </ul>
            </div>
          </div>

        <button type="submit" class="btn">Register</button>
        </form>
    
</body>
</html>