<!DOCTYPE html>
<html lang="ko">
<head>
<%- include('./head.ejs') %>
<link rel="stylesheet" href="/stylesheets/hansol.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/sidebar.css" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>
<script>
  function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="/accountbook/main" >메인</a>
        <a href="/accountbook/profile">내정보</a>
        <a href="/accountbook/management">자산관리</a>
    </div>
<div id="main" class="hi"  style="margin-bottom: 5%">
  <button class="openbtn" onclick="openNav()">☰ HS AccountBook</button>
  <div class="con">
    <a href="/accountbook/main"><i class="bi bi-house-door-fill" ></i></a>
    <a href="/accountbook/profile"><i class="bi bi-person-circle" ></i></a>
  </div>
</div>

</body>
</html>
