body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.profile_img {
  border-radius: 50%;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: rgb(186, 187, 189);
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid rgb(224, 225, 226);
}

/* Set a style for the submit button */
.btn {
  background-color: rgb(140, 141, 143);
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

ul{list-style:none;}
a{text-decoration:none; color:inherit;}
.box{max-width:960px; width:100%; height:323px;margin:0 auto;}

#tab ul{
  white-space:nowrap; 
  overflow-x: auto; 
  text-align:center;
}

#tab ul li{
  display:inline-block;
}