.hi{
  width: 100%;
  height: 60px;
  background: #111;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  text-align: left;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px ;
  border: none;
}

#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  border: 1px solid #ddd;
  margin: auto;
}

th, td {
  text-align: left;
  padding: 16px;
}

th{
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f1f1f1;
}

.con a:hover {
  color: #f1f1f1;
}

.con{
  font-size: 45px;
  text-align:center;
  float:right;
  color: #f1f1f1;
  position: relative;
  right: 25px;
}
