*{margin: auto;}
.contents_container {
    padding-left: 20%;
    padding-right: 20%;
    height: 1600px;
}

.main_contents_graph {
    height: 320px;
}

.contents_container table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin: auto;
}

.contents_container th, td {
    text-align: left;
    padding: 16px;
}

.contents_container th{
    background-color: #f2f2f2;
}

.contents_container tr:hover {
    background-color: #f1f1f1;
}

.table_switch {
    float: right;
}
